<div class="ng-login">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="ng-loginForm">
    <label for="email">Почта: </label>
    <input
      id="email"
      formControlName="email"
      class="ng-loginForm__input"
      type="email"
    />
    <div
      *ngIf="email!.invalid && (email!.dirty || email!.touched)"
      class="ng-loginForm__inputError"
    >
      <div *ngIf="email!.errors?.['required']">Обязательное поле</div>
      <div *ngIf="email!.errors?.['pattern']">Неверный формат почты</div>
    </div>
    <label for="password">Пароль: </label>
    <input
      formControlName="password"
      id="password"
      class="ng-loginForm__input"
      type="password"
    />
    <div
      *ngIf="password!.invalid && (password!.dirty || password!.touched)"
      class="ng-loginForm__inputError"
    >
      <div *ngIf="email!.errors?.['required']">Обязательное поле</div>
      <div *ngIf="password!.errors?.['minlength']">Пароль менее 6 символов</div>
    </div>
    <button [disabled]="loginForm.invalid" type="submit">Регистрация</button>
  </form>
</div>
