<div class="ng-noteList">
  <div class="ng-noteList__sortContainer">
    <notebook-ng-select
      (selectedOption)="onSelected($event)"
      [options]="selectOptions"
    ></notebook-ng-select>
    <notebook-ng-icon
      class="ng-noteList__iconSorted"
      [id]="!isDesSorted.value ? 'sort-down' : 'sort-up'"
      (click)="onSortedMode()"
    ></notebook-ng-icon>
  </div>
  <div
    class="ng-noteList__elem"
    *ngFor="let item of notes | async"
    (click)="openNote(item.id)"
  >
    <div class="ng-noteList__title">{{ item.title }}</div>
    <div>{{ item.date | date : "dd/MM/yyyy" }}</div>
    <notebook-ng-icon
      [id]="'close-cross'"
      (click)="deleteItem(item.id); $event.stopPropagation()"
    ></notebook-ng-icon>
  </div>
  <div class="ng-noteList__elemEmpty" *ngIf="!(notes | async).length">
    Список заметок пуст
  </div>
</div>
