@import "colors.scss";

.ng-noteList {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  max-height: 1000px;
}

.ng-noteList__elem {
  border-bottom: 1px solid $color-medium-gray;
  padding: 20px;
  width: 100%;
  transition: 0.5s;
  max-width: 250px;
  display: flex;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background: $color-gray;
    border-bottom: 1px solid $color-black;
    transition: 0.5s;
  }
}

.ng-noteList__elemEmpty {
  @extend .ng-noteList__elem;

  &:hover {
    cursor: not-allowed;
    background: unset;
    border-bottom: 1px solid $color-medium-gray;
  }
}

.ng-noteList__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100px;
  overflow: hidden;
}
