@import "colors.scss";

.ng-textareaContainer {
  .ng-textarea {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    background-color: $color-light-gray;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    resize: none;
    padding: 20px;
    border-radius: 10px;

    &:focus-visible {
      outline: none;
    }
  }
}
