.ng-headerContainer {
  display: flex;
  justify-content: flex-start; /* Располагает кнопки слева */
  align-items: center;
  background-color: white;
  padding: 10px;
  gap: 20px; /* Задает гап в 20 пикселей между кнопками */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Эффект выпуклости для хедера */
  border-radius: 5px; /* Закругленные углы для хедера */
  margin: 0 10px;
}

.ng-header {
  background-color: white;
  border: unset;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавление выпуклости кнопкам */
}

.ng-header:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Еле заметный ховер эффект */
  transform: translateY(-1px); /* Небольшое смещение при ховере */
}

.ng-header:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
