<div class="ng-header">
  <div class="ng-headerContainer" *ngIf="!(isAuth | async); else elseBlock">
    <button routerLink="/registration" class="ng-header__button">
      Регистрация
    </button>
    <button routerLink="/confirm" class="ng-header__button">
      Подтверждение регистрации
    </button>
    <button routerLink="/login" class="ng-header__button">Вход</button>
  </div>
  <ng-template class="ng-headerContainer" #elseBlock>
    <button (click)="onClickLeaveHandler()" class="ng-header__button">
      Выход
    </button>
  </ng-template>
</div>
