@import "colors.scss";
.ng-noteCreator {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background: $color-white;
}

.ng-creator__confirmForm {
  width: 100%;
  max-width: 1200px;
}

.ng-creator__inputLabel {
  display: block;
  margin-bottom: 0.5rem;
  color: $color-black;
  font-weight: bold;
}

.ng-creator__input {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid $color-medium-gray;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
  padding: 10px;
  resize: none;

  &:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }

  &.title {
    height: 50px;
  }

  &.description {
    height: 300px;
    resize: none;
  }
}

.ng-creator__inputError {
  color: #d9534f;
  margin-bottom: 1rem;
}

.ng-creator__submitButton {
  width: 100%;
  padding: 1rem;
  background: $color-info-dark;
  color: $color-white;
  border: none;
  border-radius: 4px;
  font-size: 14pxrem;
  cursor: pointer;

  &:hover {
    background: $color-info;
  }

  &:disabled {
    background: $color-disabled;
    cursor: not-allowed;
  }
}
